# Minimal requirements for GPT-SoVITS API v2 service
numpy<2.0
scipy
librosa==0.10.2
numba
pytorch-lightning>=2.4
ffmpeg-python
tqdm
cn2an
pypinyin
torchaudio
transformers>=4.43,<=4.50
peft
chardet
PyYAML
psutil
jieba_fast
jieba
sentencepiece
fast_langdetect>=0.3.1
rotary_embedding_torch
fastapi[standard]>=0.115.2
x_transformers
torchmetrics<=1.5
pydantic<=2.10.6
huggingface_hub>=0.13
tokenizers>=0.13,<1
torch
soundfile
uvicorn
matplotlib